:root {
    /* Set up variables one by one and change accordingly in css below  */
    --fretboard-height: 300; /* So we can calculate string spacing and fret marks */
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --fret-mark-color: #806233;
    /* Explain this calculation */
    --string-top-position: calc(((var(--fretboard-height) / var(--number-of-strings) / 2) - var(--half-string-height)) * 1px);
    --double-fret-mark-pos-1: calc(var(--fretboard-height) * 0.25px);
    --double-fret-mark-pos-2: calc(var(--fretboard-height) * 0.75px);
    --noteDotOpacity: 0;
}

/* Import Lato font ..*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #333536;
    font-family: Lato, sans-serif;
}
/* Add styling to settings */
.settings {
  display: flex;
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid #444;
  background: #282828;
}
.accidental-selector {
  /* Space out a bit */
  margin: 0 20px;
}

.fretboard {
    display: flex;
    flex-direction: column; /* Because we want the strings to flow from top to bottom */
    background: #be975b;
    width: 100%;
    /* ADD MIN WIDTH // Around 1250 so first string does not fuck up with a max of 24 frets*/
    min-width: 1250px;
    height: calc(var(--fretboard-height) * 1px); 
    margin-top: 50px; /* Just to push down a bit so we can see where it begins */
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
/* Using pseudo before because we need to display a string and still have the whole string and fret clickable */
.string:before {
    content: ''; /* We need a content property in a before and after pesudo element */
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(#eee, #999);
    box-shadow: 76px 3px 10px #806233; /* Off set 76 pixels because we dont want the shadow on fret 0 */
    z-index: 1;
    position: absolute; /* So we can push the string down a bit */
    top: var(--string-top-position);
}
.note-fret { 
display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  /* box-shadow: 2px 0 2px -2px #92703a; */
  justify-content: center;  
  /* Because we want the note dots inside to be centered */
  align-items: center;  /* Because we want the note dots inside to be centered */
  /* min-width: 1.4em;  */
  position: relative;
}
/* Fret number 0 */
.note-fret:first-child {
    background: #161717;
    border-right: 12px solid; /* A little wider border cus its da nutz */
    flex-grow: 0;
    flex-shrink: 0; /* We want this to stay the same width when resizing */
    min-width: 60px; /* We have to set a minimum width on this. Otherwise it will be too small */
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%; /* What are the last two values?? */   
}

/* Extract class to share settings for fretmark */
.fretmark:before, .fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--fret-mark-color);
}

/* Note dots to display note names ******* MOVED THIS UNDER fretmark>before and after styles, so the note dots will still display correctly*/
.note-fret:before {
  content: attr(data-note); /* Replace with data attribute later */
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: teal;
  border: 3px solid #007575;
  color: #eee;
  z-index: 2;
  opacity: var(--noteDotOpacity);
}

/* REMOVED OLD STYLES */
.single-fretmark:after {
    top: calc(var(--fretboard-height) / 2 * 1px); /*  50 percent of the height of the fretboard */ /* Multiply with 1 px to get unit */
    transform: translate(0, -50%); /* Subtract half of the width of the fretmark to center */
}

.double-fretmark:before {
    top: calc(var(--double-fret-mark-pos-1));
    transform: translate(-140%, -50%);
    
}
.double-fretmark:after {
    top: var(--double-fret-mark-pos-2);
    transform: translate(-140%, -50%);
}

